.not-found-container h1 {
  font-size: 10rem;
  color: #dc3545;
}

.not-found-container h2 {
  font-size: 3rem;
  color: #343a40;
}

.not-found-container p {
  font-size: 1.25rem;
  color: #6c757d;
}

.not-found-container .btn {
  font-size: 1.25rem;
}
